<%- model_class = List -%>
<div class="page-header">
  <h1>Listado <%= @list.name %> (<%= @list.passengers %>)</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Nombre:</strong></dt>
  <dd><%= @list.name %></dd>
  <dt><strong>Asientos:</strong></dt>
  <dd><%= @list.schema_id %></dd>
  <dt><strong>Salida:</strong></dt>
  <dd><%= @list.departure %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Fec.Nac.</th>
      <th>Edad</th>
      <th>DNI</th>
      <th>Celular</th>
      <th>***Acciones***</th>
    </tr>
  </thead>
  <tbody class="searchable">
    <% @list.people.each do |person| %>
      <tr>
        <td><%= person.last_name %></td>
        <td><%= person.first_name %></td>
        <td><%= person.dob_formatted %></td>
        <td><%= person.age %></td>
        <td><%= person.identification %></td>
        <td><%= person.cell_phone %></td>
        <td>
          <div style="width:100%;">
            <%= link_to delete_person_form_list_url(@list.id, person.id), :method => :delete, :data => { :confirm => "Esta seguro?" }, :class => 'btn btn-danger' do %>
              <span class="glyphicon glyphicon-trash white" aria-hidden="true"></span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>