<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VIAJES</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <!-- MetisMenu CSS -->
    <%= stylesheet_link_tag 'metisMenu.min' %>
    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'sb-admin-2' %>
    <!-- Custom Fonts -->
    <%= stylesheet_link_tag 'font-awesome.min' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <%= form_for @user do |f| %>
        <div class="container">
            <div class="row">
              
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">VIAJES CJSM</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <div class="form-group">                                    
                                        <%= f.text_field :username, :placeholder => "usuario", :class => "form-control" %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.password_field :password, :placeholder => "contraseña", :class => "form-control" %>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me">Recuérdame
                                        </label>
                                    </div>                               

                                    <%= f.submit "Ingresar", :id => "sign_in_btn", :class => "btn btn-lg btn-success btn-block" %>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <!-- jQuery -->
    <%= javascript_include_tag 'jquery.min' %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag 'bootstrap.min' %>

    <!-- Metis Menu Plugin JavaScript -->
    <%= javascript_include_tag 'metisMenu.min' %>

    <!-- Custom Theme JavaScript -->
    <%= javascript_include_tag 'sb-admin-2' %>

</body>

</html>
