<!DOCTYPE html>
<html>
<head>
  <title>VIAJES CJSM</title>
  <%= stylesheet_link_tag    "application.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="/" title="CJSM TURISMO">CJSM TURISMO</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav">
      <li> <%= link_to "Socios", people_path(:associated => true) %> </li>
      <li> <%= link_to "Viajeros", people_path(:travelers => true) %> </li>
      <li> <%= link_to "Listados", lists_path %> </li>
      <li> <%= link_to "Esquemas", schemas_path %> </li>
    </ul>
  </div>

</div>
<div class="container">
    <div class="row">
      <div class="span12">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
            <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
