<%- model_class = Schema -%>
<div class="page-header">
  <h1>Esquemas</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:seats) %></th>
      <th><%= model_class.human_attribute_name(:company) %></th>
      <th><%= model_class.human_attribute_name(:seats_schema) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schemas.each do |schema| %>
      <tr>
        <td><%= link_to schema.id, schema_path(schema) %></td>
        <td><%= schema.name %></td>
        <td><%= schema.seats %></td>
        <td><%= schema.company %></td>
        <td><%= schema.seats_schema %></td>
        <td><%=l schema.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_schema_path(schema), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      schema_path(schema),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_schema_path, :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus white" aria-hidden="true"> </span>
  Nueva
<% end %>